<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">

<style type="text/css">

</style>
</head>

<body style="font-family: Arial, HelveticaNeue, Helvetica, sans-serif; background-color: #ffffff; margin: 0; padding: 0" bgcolor="#e8e8ea">
    
<style>
    body {
        font-family: Arial;
    }
    /* This limits the width of the select boxes with the Veeva interface so as not to break the layout */
    
    select {
        max-width: 485px;
    }
 </style>
    
    
    <div style="display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">A message from your Amgen representative.</div>
    
    <!--   MSO hacks were removed from this place  -->
   <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="550" border="0" style="border-spacing: 0;border-collapse: collapse;font-family: Arial;" align="center">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="320" style="background: #faa21b;text-transform: uppercase;font-weight: bold;color: #fff;font-size: 11px;padding:20px 0;text-align: center;border-right:2px solid #ffffff">
                            Prescribing Information &amp; Medication Guide &gt;
                        </td>
                        <td width="228" style="background: #faa21b;text-transform: uppercase;font-weight: bold;color: #fff;font-size: 11px;padding:20px 0;margin-left:20px;text-align: center;padding-left: 2px">
                            Important Safety Information &gt;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <img src="logo-blincyto.png" style="margin-top: 3px;margin-bottom: 23px;width: 550px">
            </td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;padding-top:20px" width="500">
                For the treatment of Philadelphia chromosome-negative relapsed or refractory B-cell precursor acute lymphoblastic leukemia (ALL).
                <br> <br><br>
                <strong>{{customText[ Hello | Hi ]}} {{accLname}},</strong>
                <br> <br><br>
                 As your Amgen representative, I can help you leverage various resources that are available to support the BLINCYTO<sup>&reg;</sup> treatment experience.
                <br> <br>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;background:#faa21b;padding: 10px 0; color:#fff;font-weight: bold;font-size: 18px ">
                SCROLL DOWN TO LEARN MORE
            </td>
        </tr>
        <tr>
            <td width="550" style="padding-left: 25px; padding-right: 25px;padding-top:35px;color: #005678;font-size: 18px">
                    <strong>Indication</strong><br />
                    BLINCYTO<sup>&reg;</sup> (blinatumomab) is indicated for the treatment of Philadelphia chromosome-negative relapsed or refractory B-cell precursor acute lymphoblastic leukemia (ALL). This indication is approved under accelerated approval. Continued approval for this indication may be contingent upon verification of clinical benefit in subsequent trials.
                <br><br>
                <strong>IMPORTANT SAFETY INFORMATION 
                <br><br>
                    WARNING: CYTOKINE RELEASE SYNDROME and NEUROLOGICAL TOXICITIES
                <br><br>
                    Cytokine Release Syndrome (CRS), which may be life-threatening or fatal, occurred in patients receiving BLINCYTO® (blinatumomab). Interrupt or discontinue BLINCYTO® as recommended.
                <br><br>
                    Neurological toxicities, which may be severe, life-threatening or fatal, occurred in patients receiving BLINCYTO®. Interrupt or discontinue BLINCYTO® as recommended.
                </strong>
                <br><br>
                    <strong>Contraindications</strong><br />
                    BLINCYTO<sup>&reg;</sup> is contraindicated in patients with a known hypersensitivity to blinatumomab or to any component of the product formulation.
                <br><br><br>
                    Please see additional Important Safety Information below.
                <br><br><br>
            </td>
        </tr>
        <tr>
            <td >
                {{insertEmailfragments}}
            </td>
        </tr>
        <tr>
            <td width="550" style="padding-left: 25px; padding-right:25px; padding-top:25px;font-size: 18px;">
                {{customText[ I look forward to our next meeting. | I look forward to our upcoming meeting. | I&rsquo;ll be in touch to set up our next meeting. | Please contact me at the phone number below with any questions. ]}}
                <br><br><br>
                
                    {{customText [Sincerely, | Regards, | Talk to you soon, ]}},<br><br><br>
                    RepName<br>
                    Amgen Oncology<br>
                    Phone Number
            </td>
        </tr>
        <!-- references -->
        <tr style="margin-top: 20px">
            <td width="550" style="padding-left: 25px; padding-right:25px; padding-top:25px;font-size: 18px;">
                <strong>References</strong><br />
                <strong>1.</strong> Jain N, Gurbuxani S, Rhee C, Stock W. In: Hoffman R, Benz EJ Jr, Silberstein LE, Heslop H, Weitz J, Anastasi J, eds. Hematology: Basic Principles and Practice. 6th ed. Philadelphia, PA: Saunders-Elsevier;2013:960-980.<br>
                <strong>2.</strong> Siegel R, Naishadham D, Jemal A. CA Cancer J Clin. 2013;63:11-30.
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td width="550" style="font-size: 18px;color:#000000;padding-left: 25px;padding-right: 25px;padding-top:25px;">
                    <strong style="color:#005678">Warnings and Precautions</strong><br />
                    Cytokine Release Syndrome (CRS): Life-threatening or fatal CRS occurred in patients receiving BLINCYTO<sup>&reg;</sup>. Infusion reactions have occurred and may be clinically indistinguishable from manifestations of CRS. Closely monitor patients for signs and symptoms of serious events such as pyrexia, headache, nausea, asthenia, hypotension, increased alanine aminotransferase (ALT), increased aspartate aminotransferase (AST), increased total bilirubin (TBILI), disseminated intravascular coagulation (DIC), capillary leak syndrome (CLS), and hemophagocytic lymphohistiocytosis/macrophage activation syndrome (HLH/MAS). Interrupt or discontinue BLINCYTO<sup>&reg;</sup> as outlined in the Prescribing Information (PI).
				<br><br>
                    Neurological Toxicities: Approximately 50% of patients receiving BLINCYTO<sup>&reg;</sup> in clinical trials experienced neurological toxicities. Severe, life-threatening, or fatal neurological toxicities occurred in approximately 15% of patients, including encephalopathy, convulsions, speech disorders, disturbances in consciousness, confusion and disorientation, and coordination and balance disorders. The median time to onset of any neurological toxicity was 7 days. Monitor patients for signs or symptoms and interrupt or discontinue BLINCYTO<sup>&reg;</sup> as outlined in the PI.
                <br><br>
                    Infections: Approximately 25% of patients receiving BLINCYTO<sup>&reg;</sup> experienced serious infections, some of which were life-threatening or fatal. Administer prophylactic antibiotics and employ surveillance testing as appropriate during treatment. Monitor patients for signs or symptoms of <br><br>
                    Neutropenia and Febrile Neutropenia, including life-threatening cases, have been observed. Monitor appropriate laboratory parameters during BLINCYTO<sup>&reg;</sup> infusion and interrupt BLINCYTO<sup>&reg;</sup> if prolonged neutropenia occurs.
                <br><br>
                    Effects on Ability to Drive and Use Machines: Due to the possibility of neurological events, including seizures, patients receiving BLINCYTO<sup>&reg;</sup> are at risk for loss of consciousness, and should be advised against driving and engaging in hazardous occupations or activities such as operating heavy or potentially dangerous machinery while BLINCYTO<sup>&reg;</sup> is being administered.
                <br><br>
                    Elevated Liver Enzymes: Transient elevations in liver enzymes have been associated with BLINCYTO<sup>&reg;</sup> treatment. The majority of these events were observed in the setting of CRS. The median time to onset was 15 days. Grade 3 or greater elevations in liver enzymes occurred in 6% of patients outside the setting of CRS and resulted in treatment discontinuation in less than 1% of patients. Monitor ALT, AST, gamma-glutamyl transferase (GGT), and TBILI prior to the start of and during BLINCYTO<sup>&reg;</sup> treatment. BLINCYTO<sup>&reg;</sup> treatment should be interrupted if transaminases rise to &gt; 5 times the upper limit of normal (ULN) or if TBILI rises to &gt; 3 times ULN.
                <br><br>
                    Leukoencephalopathy: Although the clinical significance is unknown, cranial magnetic resonance imaging (MRI) changes showing leukoencephalopathy have been observed in patients receiving BLINCYTO<sup>&reg;</sup>, especially in patients previously treated with cranial irradiation and anti-leukemic chemotherapy.<br>
                    Preparation and administration errors have occurred with BLINCYTO<sup>&reg;</sup> treatment. Follow instructions for preparation (including admixing) and administration in the PI strictly to minimize medication errors (including underdose and overdose).
                <br><br>
                    <strong style="color:#005678">Adverse Reactions</strong><br />
                    The most commonly reported adverse reactions (&ge; 20%) in clinical trials were pyrexia (62%), headache (36%), peripheral edema (25%), febrile neutropenia (25%), nausea (25%), hypokalemia (23%), rash (21%), tremor (20%), diarrhea (20%) and constipation (20%).
                <br><br>
                    Serious adverse reactions were reported in 65% of patients. The most common serious adverse reactions (&ge; 2%) included febrile neutropenia, pyrexia, pneumonia, sepsis, neutropenia, device-related infection, tremor, encephalopathy, infection, overdose, confusion, Staphylococcal bacteremia, and headache.
                <br><br>
                    <strong style="color:#005678">Dosage and Administration Guidelines</strong><br />
                    BLINCYTO<sup>&reg;</sup> is administered as a continuous intravenous infusion at a constant flow rate using an infusion pump which should be programmable, lockable, non-elastomeric, and have an alarm.
                <br><br>
                    It is very important that the instructions for preparation (including admixing) and administration provided in the full Prescribing Information are strictly followed to minimize medication errors (including underdose and overdose).
                <br><br>
                    Please see full <a href="#">Prescribing Information</a>, including <strong>Boxed WARNINGS</strong> and <a href="#">Medication Guide</a>, for BLINCYTO<sup>&reg;</sup>.
                <br><br><br>
            </td>
        </tr>

        <!-- footer -->
        <tr>
            <td width="500" bgcolor="#005678" style="color: #ffffff; font-size: 12px; padding: 8px 25px;line-height: 1.2">
                <table style="padding:0px 0px 0px">
                    <tr>
                        <td width="50%" style="font-size:14px;color:#ffffff;padding-top:10px;padding-bottom: 20px">
                            <a href="http://www.amgen.com" style="border: none;"><img src="logo-amgen.png" alt="AMGEN" /></a>
                        </td>
                        <td>
                            <a href="http://www.amgen.com" style="border: none;float:right;padding-bottom: 30px;padding-top: 20px"><img src="logo-blincyto-white.png" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:14px;color:#ffffff;">
                            <b style="font-size: 18px;">Amgen</b><br />
                            One Amgen Center Drive<br />
                            Thousand Oaks, CA 91320-1799
                            <br />
                        </td>
                        <td width="236" height="10" style="background:#faa21b;color:#558476;font-size: 22px;text-align:center;font-weight:bold">
                            <a href="http://www.understandingall.com" target="_blank" style="color:#ffffff;text-decoration: none;font-size:22px;">LEARN MORE &gt;</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="top: -4px; position: relative;font-size:14px">
                            <a href="http://www.amgen.com" title="www.amgen.com" target="blank" style="color:#ffffff;text-decoration:none;">www.amgen.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-bottom:18px;font-size:14px;color:#ffffff;">
                            &copy; 2016 Amgen Inc. All rights reserved. USA-002-119052
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td style="color: #666666; font-size: 14px; padding: 8px 25px;line-height: 1.2;" bgcolor="#ffffff" width="500">
                <p style="margin-bottom: 8px;">
                    <a style="color:#666666;text-decoration:underline;" href="#" title="Unsubscribe" target="blank">Click here</a> to unsubscribe to future emails
                </p>
                <a style="color:#666666;text-decoration:none;" href="http://wwwext.amgen.com/privacy-statement/" title="Privacy Statement" target="blank">Privacy Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="color:#666666;text-decoration:none;" href="http://wwwext.amgen.com/terms-of-use/ " title="Terms of Use" target="blank">Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="color:#666666;text-decoration:none;" href="http://www.amgen.com/contact-us/" title="Contact Us" target="blank">Contact Us</a>
            </td>
        </tr>
    </table>
</body>
</html>